In [142]:
import numpy as np
import pandas as pd
from tabulate import tabulate

In [58]:
df = pd.read_csv('Telco-Customer-Churn.csv')

In [59]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7028,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7029,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7030,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7031,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [61]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7032.000000  7032.000000     7032.000000   7032.000000
mean        0.162400    32.421786       64.798208   2283.300441
std         0.368844    24.545260       30.085974   2266.771362
min         0.000000     1.000000       18.250000     18.800000
25%         0.000000     9.000000       35.587500    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.862500   3794.737500
max         1.000000    72.000000      118.750000   8684.800000

In [63]:
df.nunique()

customerID          7032
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                72
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1584
TotalCharges        6530
Churn                  2
dtype: int64

In [66]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

## Exploratory Data Analysis

In [68]:
df['Churn'].value_counts()

No     5163
Yes    1869
Name: Churn, dtype: int64

### Churn Rate = 26.6%

In [80]:
df['Contract'].value_counts()

Month-to-month    3875
Two year          1685
One year          1472
Name: Contract, dtype: int64

In [76]:
total_monthly_contracts = df.loc[df['Contract'] == 'Month-to-month'].value_counts().sum()
total_monthly_charge = df.loc[df['Contract'] == 'Month-to-month', 'TotalCharges'].sum()

print(total_monthly_contracts, total_monthly_charge)

3875 5305861.5

In [163]:
total_one_year_contracts = df.loc[df['Contract'] == 'One year'].value_counts().sum()
total_one_year_charge = df.loc[df['Contract'] == 'One year', 'TotalCharges'].sum()

print(total_one_year_contracts, total_one_year_charge)

1472 4467053.5

In [81]:
total_two_year_contracts = df.loc[df['Contract'] == 'Two year'].value_counts().sum()
total_two_year_charge = df.loc[df['Contract'] == 'Two year', 'TotalCharges'].sum()

print(total_two_year_contracts, total_two_year_charge)

1685 6283253.7

In [83]:
total_monthly_churn = df.loc[df['Contract'] == 'Month-to-month', 'Churn'].value_counts()
print(total_monthly_churn)

No     2220
Yes    1655
Name: Churn, dtype: int64

In [85]:
total_one_year_churn = df.loc[df['Contract'] == 'One year', 'Churn'].value_counts()
print(total_one_year_churn)

No     1306
Yes     166
Name: Churn, dtype: int64

In [86]:
total_two_year_churn = df.loc[df['Contract'] == 'Two year', 'Churn'].value_counts()
print(total_two_year_churn)

No     1637
Yes      48
Name: Churn, dtype: int64

## Churn Rate of Customers by Contract Type
### Month to month = 42.64%
### One Year = 11.29%
### Two Year = 2.85%

#### Customers with longer contracts are most likely to stay with the company.

In [153]:
df.groupby('Contract')['Churn'].value_counts()

Contract        Churn
Month-to-month  No       2220
                Yes      1655
One year        No       1306
                Yes       166
Two year        No       1637
                Yes        48
Name: Churn, dtype: int64

In [91]:
df['tenure'].value_counts()

1     613
72    362
2     238
3     200
4     176
     ...
38     59
28     57
39     56
44     51
36     50
Name: tenure, Length: 72, dtype: int64

In [99]:
def cohort(tenure):
    
    if tenure < 13:
        return '0-12 Months'   
    elif tenure < 25:
        return '12-24 Months'
    elif tenure < 49:
        return '24-48 Months'
    else:
        return 'Over 48 Months'

In [100]:
df['tenure cohort'] = df['tenure'].apply(cohort)

In [104]:
df.head()[['tenure', 'tenure cohort']]

   tenure tenure cohort
0       1   0-12 Months
1      34  24-48 Months
2       2   0-12 Months
3      45  24-48 Months
4       2   0-12 Months

In [154]:
df.groupby('tenure cohort')['Churn'].value_counts()

tenure cohort   Churn
0-12 Months     No       1138
                Yes      1037
12-24 Months    No        730
                Yes       294
24-48 Months    No       1269
                Yes       325
Over 48 Months  No       2026
                Yes       213
Name: Churn, dtype: int64

## Tenure-Based Churn Rate
### 0-12 Months: 47.66%
### 12-24 Months: 28.84%
### 24-48 Months: 20.37%
### Over 48 Months: 9.51%

In [155]:
df.groupby('gender')['Churn'].value_counts()

gender  Churn
Female  No       2544
        Yes       939
Male    No       2619
        Yes       930
Name: Churn, dtype: int64

In [158]:
df.groupby('SeniorCitizen')['Churn'].value_counts()

SeniorCitizen  Churn
0              No       4497
               Yes      1393
1              No        666
               Yes       476
Name: Churn, dtype: int64

In [159]:
df.groupby('PhoneService')['Churn'].value_counts()

PhoneService  Churn
No            No        510
              Yes       170
Yes           No       4653
              Yes      1699
Name: Churn, dtype: int64

In [160]:
df.groupby('MultipleLines')['Churn'].value_counts()

MultipleLines     Churn
No                No       2536
                  Yes       849
No phone service  No        510
                  Yes       170
Yes               No       2117
                  Yes       850
Name: Churn, dtype: int64

In [161]:
df.groupby('InternetService')['Churn'].value_counts()

InternetService  Churn
DSL              No       1957
                 Yes       459
Fiber optic      No       1799
                 Yes      1297
No               No       1407
                 Yes       113
Name: Churn, dtype: int64

## Evaluating Churn: The Internet Service Factor
### DSL: 19.01%
### Fiber Optic: 41.83%
### No Internet Service: 7.43%

In [162]:
df.to_csv('Telco-Customer-Churn.csv', index = False)